{% extends 'base.html' %}

{% block content %}
    {% block content_header %}
    <h2>Books</h2>

    <p>
        <button><a href="{% url 'book_upload' %}" class="btn btn-primary">Upload new book</a></button>
    </p>
    {% endblock content_header %}
    
    <table class="table mb-0">
            <thead>
                <tr>
                    <th>Cover</th>
                    
                    <th>Title</th>
                    <th>      </th>
                    <th>Author</th>
                    <th>    </th>
                    <th>Download</th>
                    
                    <th> Listen to audiobook</th>
                    
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                {% for b in books %}
                    <tr>
                        <td>

                            {% if b.cover %}
                                <img src="{{ b.cover.url }}" alt="{{ b.title }}" style="width: 100px;">
                            {% else %}
                                <span class="text-muted">No cover</span>
                            {% endif %}

                        </td>
                        <td>{{ b.title }}</td>
                        <td>   </td>
                        <td>{{ b.author }}</td>
                        <td>   </td>
                        <td>
                            <button><a href="{{ b.text.url }}" class="btn btn-primary">Download book</a></button>
                        </td>
                        <td>
                            {% if b.audiobook %}
                                <form method="POST" action="{% url 'book_audiobook' b.pk %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Listen to audiobook</button>
                                </form>
                            {% else %}
                                <span class="text-muted">No audiobook</span>
                            {% endif %}
                        </td>
                        <td>
                            <form method="POST" action="{% url 'book_delete' b.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>

{% endblock content %}