{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>analyze results</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css'%}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">

    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-firestore.js"></script>
</head>

<body>
    <nav class="z-depth-3 blue lighten-1">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo" id="logo" style="margin-top: 0%;">
                <img src='' id="navbar-img" style="width: 150px; object-fit: cover; position: relative; margin-top: 0%;">
            </a>
            <div class="navbuttons">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'upload' %}">Upload</a></li>
                    <li><a href="{% url 'db_posts_temp' %}">Pools</a></li>
                    <li><a href="{% url 'user_account' %}">myAccount</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>Result of the analysis</h1>

    <div class="content">
        <h2>Results for: "{{ nameOfFile }}"</h2>
        <table class="table mb-0">
            <thead>
                <tr>
                    <th>Chord number</th>
                    <th>Timestamp</th>
                    <th>Chord Name</th>
                    <!--<th>Keep/Change Chord</th>
                <th>Flag as Doubt</th>-->
                </tr>
            </thead>

            <tbody>
                {% for i in r.c %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        {% for j in r.t %} {% if forloop.counter == forloop.parentloop.counter %} {{j}} {% endif %} {% endfor %}
                    </td>
                    <td>{{ i }}</td>
                    <!--<td>
                        <div>
                            <param value="{{ forloop.counter }}" id="ChordPosition">
                                <button id="KeepChord" value="{{ i }}">Keep</button>
                                <label for="newChord">Change:</label>
                                <select name="newChord" id="newChordName">
                                    <option value="C">C</option>
                                    <option value="Cmin">Cmin</option>
                                    <option value="C# / Db">C# / Db</option>
                                    <option value="C#min / Dbmin">C#min / Dbmin</option>
                                    <option value="D">D</option>
                                    <option value="Dmin">Dmin</option>
                                    <option value="D# / Eb">D# / Eb</option>
                                    <option value="D#min / Ebmin">D#min / Ebmin</option>
                                    <option value="E">E</option>
                                    <option value="Emin">Emin</option>
                                    <option value="F">F</option>
                                    <option value="Fmin">Fmin</option>
                                    <option value="F# / Gb">F# / Gb</option>
                                    <option value="F#min / Gbmin">F#min / Gbmin</option>
                                    <option value="G">G</option>
                                    <option value="Gmin">Gmin</option>
                                    <option value="G# / Ab">G# / Ab</option>
                                    <option value="G#min / Abmin">G#min / Abmin</option>
                                    <option value="A">A</option>
                                    <option value="Amin">Amin</option>
                                    <option value="A# / Bb">A# / Bb</option>
                                    <option value="A#min / Bbmin">A#min / Bbmin</option>
                                    <option value="B">B</option>
                                    <option value="Bmin">Bmin</option>
                                </select>
                        </div>
                    </td>
                    <td><input type="checkbox" id="doubtChord" value="{{ forloop.counter }}"></td>-->
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <p>
            <div class="createPool">
                <h3>Auto-generated Pool</h3>
                <form id="add-pool-form">
                    <input type="text" name="chords" id="chords" placeholder="chords" value="{{r.c}}" required>
                    <input type="text" name="nameOfFile" placeholder="nameOfFile" value="{{ nameOfFile }}" required>
                    <input type="text" name="timestamps" placeholder="timestamps" value="{{r.t}}" required>
                    <input type="text" name="description" placeholder="pool description" required size="50">
                    <button>Add New Pool</button>
                </form>
            </div>
        </p>
    </div>

    <!-- <div class="navbar" id="navbar">
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css'%}">
        <ul>
            <li><a href="{% url 'index' %}">Index - Login</a></li>
            <li><a href="{% url 'upload' %}">Upload</a></li>
            <li><a href="{% url 'db_posts_temp' %}">Pools</a></li>
            <li><a href="{% url 'user_account' %}">myAccount</a></li>
        </ul>
    </div> -->

    <script src="{% static 'js/firebase_config.js'%}"></script>

    <script src="{% static 'js/analyze.js'%}"></script>

</body>

</html>