{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>analyze results</title>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/db_posts_temp.css'%}">-->

    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-firestore.js"></script>
</head>

<body>
    <h1>analyze page</h1>
    <!--<div class="theheader">
        <br>
        <h2>{{ nameOfFile }}</h2> <br>
        <p>{{ chords }} <br>{{ timestamps }} <br></p>
        <p>{{ c_vett }} <br>{{ t_vett }} <br></p>
        <span id="a_var">{{ variable }}</span>
        <p>
            <ol>
                {% for c in c_vett %}
                        <li>
                            - {{c}}
                            <button>change chord</button>
                        </li>
                {% endfor %}
            </ol>
        </p>
    </div>
    -->
    
    <h2>Results for: "{{ nameOfFile }}"</h2>
    <h3>len( {{r.c}} )</h3>
    <table class="table mb-0">
        <thead>
            <tr>
                <th>Chord number</th>
                <th>Timestamp</th>
                <th>Chord Name</th>
                <th>Change Chord</th>
                <th>Flag as Doubt</th>
            </tr>
        </thead>
            <!--
        <tbody>
            {% for index in range(len( {{r.c}} )) %}
                <tr>
                    <td>index</td>
                    <td>r.t[index]</td>
                    <td>r.c[index]</td>
                    <td><select name="newChord" id="newChord">
                            <option value="C">C</option>
                            <option value="Cmin">Cmin</option>
                            <option value="C# / Db">C# / Db</option>
                            <option value="C# / Db">C#min / Dbmin</option>
                      </select>
                    </td>
                    <td><input type="checkbox" id="doubtChord"></td>
                </tr>
            {% endfor %}
        </tbody> -->
    </table>

    <br>
    <p>
        <div class="content">
            <form id="add-pool-form">
                <input type="text" name="chords" placeholder="chords">
                <input type="text" name="nameOfFile" placeholder="nameOfFile">
                <input type="text" name="timestamps" placeholder="timestamps">
                <button>Add New Pool</button>
            </form>

        </div>
    </p>

    <div class="navbar" id="navbar">
        <!--<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css'%}">-->
        <ul>
            <li><a href="{% url 'index' %}">Index - Login</a></li>
            <li><a href="{% url 'upload' %}">Upload</a></li>
            <li><a href="{% url 'db_posts_temp' %}">Pools</a></li>
            <li><a href="{% url 'user_account' %}">myAccount</a></li>
        </ul>
    </div>

    <script src="{% static 'js/firebase_config.js'%}"></script>

    <script src="{% static 'js/analyze.js'%}"></script>

</body>

</html>