{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>analyze results</title>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/db_posts_temp.css'%}">-->

    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-firestore.js"></script>
</head>

<body>

    <div class="theheader">
        <h1>analyze page</h1><br>
        <h2>{{ nameOfFile }}</h2> <br>
        <p>{{ chords }} <br>{{ timestamps }} <br></p>
    </div>
    <br>
    <p>
        <div class="content">
            <form id="add-pool-form">
                <input type="text" name="chords" placeholder="chords">
                <input type="text" name="nameOfFile" placeholder="nameOfFile">
                <input type="text" name="timestamps" placeholder="timestamps">
                <button>Add New Pool</button>
            </form>
            

        </div>
    </p>
    <br><br>

    <div class="navbar" id="navbar">
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css'%}">
        <ul>
            <li><a href="{% url 'index' %}">Index - Login</a></li>
            <li><a href="{% url 'upload' %}">Upload</a></li>
            <li><a href="{% url 'db_posts' %}">cloud cafe</a></li>
            <li><a href="{% url 'db_posts_temp' %}">cloud cafe</a></li>
            <li><a href="{% url 'user_account' %}">myAccount</a></li>
        </ul>
    </div> 


    <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
            apiKey: "AIzaSyD69dMji8qEyg_72e-JZ8pkLpcWFhboxbg",
            authDomain: "need-chords.firebaseapp.com",
            databaseURL: "https://need-chords.firebaseio.com",
            projectId: "need-chords",
            storageBucket: "need-chords.appspot.com",
            messagingSenderId: "93635873893",
            appId: "1:93635873893:web:64c4ea4c5a723fa39c8a8c"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        console.log(firebase);
        const db = firebase.firestore();
        db.settings({ timestampsInSnapshot: true });

    </script>

    <script src="{% static 'js/analyze.js'%}"></script>

</body>

</html>