{% load static %}
<!-- change all references to the new db of posts -->

<html>

<head>

    <title>Firebase</title>

    <link rel="stylesheet" href="{% static 'css/db_posts.css'%}">


    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-firestore.js"></script>

</head>

<body>

    <h1>Cloud Cafe</h1>

    <div class="content">

        <form id="add-cafe-form">
            <input type="text" name="name" placeholder="New Cafe name">
            <input type="text" name="city" placeholder="New Cafe city">
            <button>Add New Post</button>

        </form>

        <ul id="cafe-list"></ul>

    </div>
    <!--
    <div class="navbar">
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css'%}">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'upload' %}">Upload new file</a></li>
            <li><a href="{% url 'user_account' %}">myAccount</a></li>
        </ul>
    </div> -->

    <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
            apiKey: "AIzaSyATs_s796OdS7QPlIkftumGs2a4-TN80uA",
            authDomain: "readingfile-74196.firebaseapp.com",
            databaseURL: "https://ReadingFile.firebaseio.com",
            projectId: "readingfile-74196",
            storageBucket: "readingfile-74196.appspot.com",
            messagingSenderId: "534690811424",
            appId: "1:534690811424:web:f0d023b82db889f79c7645",
            measurementId: "G-7V7T8LER66"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        console.log(firebase);

        const db = firebase.firestore();

        db.settings({
            timestampsInSnapshot: true
        });
    </script>

    <script src="{% static 'js/db_posts.js'%}"></script>
</body>

</html>