{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>db posts temp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/db_posts_temp.css'%}">

    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-firestore.js"></script>
</head>

<body>

    <div class="theheader">
        <h1>DB POSTS TEMP</h1>
    </div>
    <p>
        <div class="content">

            <ul id="pool-list"></ul>

        </div>
    </p>

    <div class="navbar" id="navbar">
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css'%}">
        <ul>
            <li><a href="{% url 'index' %}">Index - Login</a></li>
            <li><a href="{% url 'upload' %}">Upload</a></li>
            <li><a href="{% url 'user_account' %}">myAccount</a></li>
        </ul>
    </div> 

    <script src="{% static 'js/firebase_config.js'%}"></script>

    <script src="{% static 'js/db_posts_temp.js'%}"></script>

</body>

</html>