{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Need Chords?</title>

    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="shortcut icon" type="image/png" href="https://firebasestorage.googleapis.com/v0/b/need-chords.appspot.com/o/Media%2Fnc.png?alt=media&token=9d3e8cb0-21e5-47c4-afa8-68adf89ba3c4">


    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-firestore.js"></script>

</head>

<body>
    <nav class="z-depth-3 blue lighten-1">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo" id="logo" style="margin-top: 0%;">
                <img src='' id="navbar-img" style="width: 150px; object-fit: cover; position: relative; margin-top: 0%;">
            </a>
            <div class="navbuttons">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'user_account' %}">myAccount</a></li>
                    <li><a href="{% url 'db_posts_temp' %}">Pools</a></li>
                    <!-- <li><a href="{% url 'index' %}" class="aliceblue-text" id="logout">Logout</a></li> -->
                </ul>
            </div>
        </div>
    </nav>

    <div class="content">
        <input type="file" id="uploaded_song" name="document">
        <br><br>
        <input type="text" id="artist" placeholder="artist" value="">
        <input type="text" id="title" placeholder="title" value="">
        <br><br>
        <button id="upload_button">Upload Audio</button>
        <label id="process"></label>
    </div>

    <div class="content" style="display:block;" id="analyze_form">

        <!-- the form below must be visible only after upload progress is completed -->
        <form method="POST" enctype="multipart/form-data" action="analyze">
            {% csrf_token %} {{ in_form.as_p }}
            <button type="submit" class="btn btn-primary">Analyze</button>
        </form>
    </div>

    <div class="navbar center" style="margin: 0 auto; ">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'upload' %}">Upload</a></li>
            <li><a href="{% url 'db_posts_temp' %}">Pools</a></li>
        </ul>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js "></script>
    <script src="{% static 'js/firebase_config.js'%}"></script>
    <script src="{% static 'js/index.js'%} "></script>
    <script src="{% static 'js/upload.js'%}"></script>


</body>

</html>