{% load static %}

<!DOCTYPE html>
<html>
<head>

    <title>Upload file to Firestore</title>

    <link rel="stylesheet" href="{% static 'css/upload.css'%}">

    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>

</head>
<body>

    <input type="file" id="uploaded_song">
    <input type="text" id="artist" placeholder="artist">
    <input type="text" id="title" placeholder="title">
    <br><br>
    <button id="upload_button">Upload Audio</button>
    <br><br>
    <div id="audio_controls">
        <audio controls></audio>
    </div>

    <div class="navbar">
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css'%}">
        <ul>
            <li><a href="{% url 'index' %}">Index - Login</a></li>
            <li><a href="{% url 'upload' %}">Upload</a></li>
            <li><a href="{% url 'db_posts' %}">cloud cafe</a></li>
        </ul>
    </div>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyD69dMji8qEyg_72e-JZ8pkLpcWFhboxbg",
            authDomain: "need-chords.firebaseapp.com",
            projectId: "need-chords",
            storageBucket: "need-chords.appspot.com",
            messagingSenderId: "93635873893",
            appId: "1:93635873893:web:64c4ea4c5a723fa39c8a8c"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        console.log(firebase);

    </script>
     
     <script src="{% static 'js/upload.js'%}"></script>

</body>

</html>

