{% load static %}
<!DOCTYPE html>
<html>


<head>
    <title>Account</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<body>
    <nav class="z-depth-3 blue lighten-1">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo" id="logo">
                <img src='' id="image-box" style="width: 100px; margin-top: 10px;">
            </a>
            <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">

                <li class="logged-in" style="display: none">
                    <a href="#" class="aliceblue-text" id="logout">Logout</a>
                </li>
                <li class="logged-out" style="display: none">
                    <a href="#" class="aliceblue-text modal-trigger" data-target="modal-login">Login</a>
                </li>
                <li class="logged-out" style="display: none">
                    <a href="#" class="aliceblue-text modal-trigger" data-target="modal-signup">Sign up</a>
                </li>
            </ul> -->
        </div>
    </nav>
    <h1>a user's own account page</h1>
    <img id="user_img">

    <!-- move this style to css -->
    <style>
        #user_img {
            height: 200px;
            width: 200px;
            border: 2px solid black;
        }
    </style>

    <div class="navbar logged-in">
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css'%}">
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'upload' %}">Upload</a></li>
            <li><a href="{% url 'db_posts_temp' %}">Pools</a></li>

        </ul>
    </div>


</body>

</html>